.tools
    display: flex
    justify-content: space-evenly
    flex-direction: column
    &-title
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
    &-main
        display: flex
        justify-content: space-evenly
        width: 100%

.calculator
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10px
    &-code
        background: #E7EAF4
        width: fit-content
        border-radius: 10px
    &-input
        width: 90%
        height: 150px
        border: 1px solid #7d59cc
        margin: 10px
        box-sizing: border-box
    &-button
        background: #FFFFFF
        border: 3px solid #B5ABE7
        border-radius: 10px
        width: 100px
        height: 30px
        color: #71588B
        cursor: pointer
        &:hover
            background: #B5ABE7
            color: #fff

.results
    display: flex
    flex-direction: column
    padding: 10px
    &-topic
        display: flex
        width: 100%
        flex-direction: column
        margin: 10px
        &-important
            background: #E7EAF4
            width: fit-content
            border-radius: 10px
            padding: 5px

.drops
    &-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        max-height: 300px
        overflow: auto
    &-section
        width: 50%
        background: #E7EAF4
        margin: 10px
        &-item
            margin-top: 10px

.error
    position: absolute
    top: 0
    width: 200px
    height: 70px
    background: #CB2560
    border-radius: 10px
    margin-top: 20px
    display: flex
    justify-content: center
    align-items: center
    color: #FFF


