.header
    display: flex
    height: 100px
    justify-content: space-between
    align-items: center
    background: #F8FAFC
    &-title
        margin-left: 20px
        font-size: 24px
        font-weight: 400