main
    display: flex
    justify-content: center
    align-items: center
    width: calc(100vw - 250px)
    height: calc(100vh - 100px)
    background: #F0F2F8

.home
    margin: 10px
    text-align: center