.LanguageButton
    margin-right: 25px
    background: #2c282a
    color: #c8bbc0
    width: 30px
    height: 30px
    border: none
    cursor: pointer
    &:hover
        background: #c8bbc0
        color: #2c282a