.nav
    width: 250px
    background: #2C282A
    height: calc(100vh - 100px)
    &-list
        list-style: none
        margin-top: 100px
        padding: 0
        & li
            width: 100%
            height: 50px
            display: flex
            align-items: center
            & a
                display: flex
                color: #C8BBC0
                align-items: center
                text-decoration: none
                height: 100%
                width: 100%
    &-icon
        margin-left: 20px
        margin-right: 10px

.active
    background: #532736
