main
    display: flex
    justify-content: space-evenly

.calculator
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10px
    &-code
        background: #E7EAF4
        width: fit-content
        border-radius: 10px
    &-input
        width: 90%
        height: 150px
        border: 1px solid #7d59cc
        margin: 10px
        box-sizing: border-box
    &-button
        background: #FFFFFF
        border: 3px solid #B5ABE7
        border-radius: 10px
        width: 100px
        height: 30px
        color: #71588B
        cursor: pointer
        &:hover
            background: #B5ABE7
            color: #fff